*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #fff;
}
/*头部*/
#header{
	width: 100%;
	height: 31px;
	background: #f8f8f8;
}
#header-nav{
	width: 1200px;
	height: 31px;
	margin: 0 auto;
}
.list{
	float: right;
	width: 897px;
	height: 31px;
}
.list li{
	float: left;
	color: #666666;
	font-size: 12px;
	line-height: 31px;
	border-right: 1px dashed #666666;
}
.list li a{
	color: #666666;
	font-size: 12px;
	line-height: 31px;
}
.list li:hover a{
	color: #ff3366;
}
.list li:nth-of-type(1),.list li:nth-of-type(2),.list li:nth-of-type(5),.list li:nth-of-type(6),.list li:nth-of-type(7){
	padding-left: 46px;
	padding-right: 17px;
}
.list li:nth-of-type(8){
	padding-left: 21px;
	padding-right: 40px;
}
.list li:nth-of-type(3),.list li:nth-of-type(4),.list li:nth-of-type(9){
	padding-left: 21px;
	padding-right: 17px;
}
.son1{
	display: none;
	position: absolute;
	left: 0;
	top: 31px;
	padding: 0;
	padding: 6px 18px 16px 18px;
	border: 1px solid #eee;
	width: 50px;
	height: 40px;
	background: #f8f8f8;
	z-index: 100;
}
.list li:nth-of-type(5):hover .son1{
	display: block;
}
.list .son1 li{
	width: 50px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #666;
	font-size: 12px;
	padding: 0;
	border-right: 0;
}
.list .son1 li a{
	color: #666;
}
.list .son1 li a:hover{
	color: #ff3366;
}
.son2{
	display: none;
	position: absolute;
	left: 0;
	top: 31px;
	padding: 0;
	padding: 6px 18px 10px 18px;
	border: 1px solid #eee;
	width: 49px;
	height: 69px;
	background: #f8f8f8;
}
.list li:nth-of-type(8):hover .son2{
	display: block;
}
.list .son2 li{
	width: 49px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #666;
	font-size: 12px;
	padding: 0;
	border-right: 0;
}
.list .son2 li a{
	color: #666;
}
.list .son2 li a:hover{
	color: #ff3366;
}

/*logo部分*/
#logo{
	width: 1200px;
	height: 158px;
	margin: 0 auto;
}
#left{
	width: 360px;
	height: 158px;
	float: left;
}
#center{
	width: 636px;
	height: 158px;
	float: left;
}
.baby,.shop{
	display: inline-block;
	width: 56px;
	height: 24px;
	background: #f2f2f2;
	font-size: 12px;
	color: #666;
	text-align: center;
	line-height: 24px;
	margin-top: 20px;
	cursor: pointer;
}
.active{
	background: #ff3366;
	color: #fff;
}
.form{
	width: 636px;
	height: 32px;
	position: relative;
}
#text{
	float: left;
	width: 448px;
	height: 28px;
	border: 2px solid #ff3366;	
	overflow: hidden;
}
#second{
	position: absolute;
	left: 0px;
	top: 32px;
	background: #fff;
	border: 1px solid #f8f8f8;
}
#second li{
	width: 448px;
	height: 24px;
	line-height: 24px;
}
.current{
	background: #f2f2f2;
	color: #ff3366;
}
#button{
	float: left;
	width: 72px;
	height: 32px;
	background: #ff3366;
	color: #fff;
	overflow: hidden;	
}
.clothes{
	width: 636px;
	height: 37px;
	
}
.clothes a{
	line-height: 37px;
	font-size: 12px;
	color: #666;
	padding-right: 6px;
}
#right{
	width: 204px;
	height: 158px;
	float: left;
}

/*导航部分*/
#nav{
	width: 1200px;
	height: 42px;
	margin: 0 auto;
	background: #fff;
	z-index: 999;
	position: relative;
}
#nav li{
	float: left;
}
#nav li a{
	float: left;
	width: 35px;
	height: 40px;
	line-height: 40px;	
	margin-right: 74px;
	color: #333;
	font-size: 16px;
}
#nav li .aa{
	border-bottom: 2px solid #ff3366;
	color: #ff3366;
}
#nav li:hover a{
	border-bottom: 2px solid #ff3366;
	color: #ff3366;
}

/**/
#sort{
	width: 1200px;
	height: 150px;
	border: 1px solid #ddd;	
	margin: 0 auto;
	margin-top: 15px;
}
.s-one{
	width: 281px;
	height: 125px;
	padding: 25px 0 0 19px;
	float: left;
}
.so-left{
	width: 72px;
	height: 150px;
	float: left;
}
.so-center p{
	font-size: 12px;
	color: #666;
}
.so-center{
	width: 53px;
	height: 150px;
	float: left;
}
.so-right{
	width: 53px;
	height: 150px;
	float: left;
}
.so-right p{
	font-size: 12px;
	color: #666;
}

#many{
	width: 1200px;
	min-height: 2000px;
	border: 1px solid #ddd;
	margin: 0 auto;
	margin-top: 10px;
}
#many li{
	float: left;
	margin: 0 20px 16px 0;
}
#many li:nth-of-type(5n){
	margin-right: 0;
}
#many img{
	width: 224px;
	height: 336px;
}
#many h5{
	line-height: 32px;
}
#many p{
	width: 224px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#bottom{
	width: 100%;
	height: 300px;
	background:#f5f5f5;
	margin-top: 20px;
}
.bottom-con{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	
}
.top{
	width: 100%;
	height: 230px;
	border-bottom: 1px solid #ddd;
}
.t-one,.t-two,.t-three{
	width: 168px;
	height: 211px;
	margin-top: 23px;
	float: left;
}
.top h4{
	line-height: 39px;
	color: #666;
}
.top p{
	line-height: 42px;
	color: #666;
}
.t-four{
	width: 298px;
	height: 211px;
	float: left;
	margin-top: 23px;
}
.t-four p:nth-of-type(1) span{
	margin-top: 14px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/20.png) no-repeat 0 0;
}
.t-four p:nth-of-type(2) span{
	margin-top: 14px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/20.png) no-repeat -28px 0;
}
.t-four p:nth-of-type(3) span{
	margin-top: 14px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/20.png) no-repeat -56px 0;
}
.t-four p a{
	padding-left: 5px;
}
.top p:hover{
	color: #ff3366;
}
.top img{
	width: 101px;
	height: 99px;
}
.t-five{
	width: 183px;
	height: 211px;
	float: left;
	margin-top: 23px;
}
.t-five img{
	margin-top: 10px;
	margin-left: 13px;
}
.t-six{
	width: 214px;
	height: 211px;
	float: left;
	margin-top: 23px;
}
.t-six img{
	margin-top: 10px;
	margin-left: 13px;
}

.above{
	font-size: 14px;
	color: #7c6666;
}
.above p{
	text-align: center;
	line-height: 23px;
}
.above a{
	color: #7c6666;
}
.above a:hover{
	color: #ff3366;
}








